[submodule "Clang"]
	path = tools/clang
	url = https://github.com/weliveindetail/pj-clang.git
[submodule "projects/libcxx"]
	path = projects/libcxx
	url = https://github.com/llvm-mirror/libcxx
[submodule "projects/libcxxabi"]
	path = projects/libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi.git
